major_version_0/api_level_2/qt/test_studio_1.config
api_level_2/qt/*.config
api_level_2/qt/*.config.*
git_rm_tag.bash
git_tag.bash
setver.bash
add_untracked.bash
cleanpy.bash
tmp/
api_level_2/qt/fs_directory/
api_level_2/qt/paska.txt
venv
docs/_build/doctrees/environment.pickle
playground
/.vscode/
docker/Valkka-*.deb
